.external-info-title {
  height: 60px;
  padding-top: 25px;
  border-bottom: 2px solid lightgray;
  font-weight: bold;
}

.external-info-detail {
  text-align: left;
  height: 45px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
}
