<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="container">
    <div class="row">
      <div class="col-md-2 basic">
        <app-workers></app-workers>
      </div>
      <div class="col-md-7 basic">
        <app-flights></app-flights>
      </div>
      <div class="col-md-3 basic">
        <app-flight-info></app-flight-info>
      </div>
    </div>
  </div>


</div>

<router-outlet></router-outlet>
